services:
  - type: web
    name: docsys-app
    env: docker
    plan: free
    dockerContext: .
    dockerfilePath: Dockerfile
    envVars:
      - key: DATABASE_URL
        value: "postgresql://neondb_owner:npg_0tKgelR8uFXc@ep-still-forest-abah5ln9-pooler.eu-west-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
      - key: SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: "False"
      - key: ALLOWED_HOSTS
        value: ".onrender.com"
    numInstances: 1
