{% load static %}
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="" class="brand-link">
      <img src="{% static "dist/img/doc3.png" %}" 
          alt="DocSys Logo" 
          class="brand-image elevation-3"
          style="width:40px; height:40px; border-radius:50%; object-fit:cover; opacity:.8;">
      <span class="brand-text font-weight-light">DocSys</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="{% static "dist/img/user2-160x160.jpg" %}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">{{ user.username }}</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->

          <li class="nav-item">
            {% url 'admin_home' as admin_home %}
            <a href="{% url 'admin_home' %}" class="nav-link {% if request.path == admin_home %} active {% endif %}">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>Home</p>
            </a>
          </li>

          <li class="nav-item">
            {% url 'add_member' as add_member %}
            <a href="{% url 'add_member' %}" class="nav-link {% if request.path == add_member %} active {% endif %}">
              <i class="nav-icon fas fa-user-plus"></i>
              <p>Add Member</p>
            </a>
          </li>

          <li class="nav-item">
            {% url 'manage_member' as manage_member %}
            {% url 'edit_member' member_id=id as edit_member %}
            <a href="{% url 'manage_member' %}" class="nav-link {% if request.path == manage_member %} active {% endif %} {% if request.path == edit_member %} active {% endif %}">
              <i class="nav-icon fas fa-users"></i>
              <p>Manage Members</p>
            </a>
          </li>

          <li class="nav-item">
            {% url 'add_staff' as add_staff %}
            <a href="{{ add_staff }}" class="nav-link {% if request.path == add_staff %} active {% endif %}">
              <i class="nav-icon fas fa-user-plus"></i>
              <p>Add Staff</p>
            </a>
          </li>

          <li class="nav-item">
            {% url 'manage_staff' as manage_staff %}
            {% url 'edit_staff' staff_id=id as edit_staff %}
            <a href="{% url 'manage_staff' %}" class="nav-link {% if request.path == manage_staff %} active {% endif %} {% if request.path == edit_staff %} active {% endif %}">
              <i class="nav-icon fas fa-users-cog"></i>
              <p>Manage Staff</p>
            </a>
          </li>

          <li class="nav-item">
            {% url 'add_house' as add_house %}
            <a href="{% url 'add_house' %}" class="nav-link {% if request.path == add_house %} active {% endif %}">
              <i class="nav-icon fas fa-home"></i>
              <p>Add House</p>
            </a>
          </li>

          <li class="nav-item">
            {% url 'manage_house' as manage_house %}
            {% url 'edit_house' house_id=id as edit_house %}
            <a href="{% url 'manage_house' %}" class="nav-link {% if request.path == manage_house %} active {% endif %} {% if request.path == edit_house %} active {% endif %}">
              <i class="nav-icon fas fa-building"></i>
              <p>Manage House</p>
            </a>
          </li>

          <li class="nav-item">
            {% url 'add_voice' as add_voice %}
            <a href="{% url 'add_voice' %}" class="nav-link {% if request.path == add_voice %} active {% endif %}">
              <i class="nav-icon fas fa-microphone"></i>
              <p>Add Voice</p>
            </a>
          </li>

          <li class="nav-item">
            {% url 'manage_voice' as manage_voice %}
            {% url 'edit_voice' voice_id=id as edit_voice %}
            <a href="{% url 'manage_voice' %}" class="nav-link {% if request.path == manage_voice %} active {% endif %} {% if request.path == edit_voice %} active {% endif %}">
              <i class="nav-icon fas fa-microphone-alt"></i>
              <p>Manage Voice</p>
            </a>
          </li>

          <li class="nav-item">
            {% url 'upload_document_admin' as upload_document_admin %}
            <a href="{{ upload_document_admin }}" class="nav-link {% if request.path == upload_document_admin %} active {% endif %}">
              <i class="nav-icon fas fa-upload"></i>
              <p>Upload Document</p>
            </a>
          </li>

          <li class="nav-item">
            {% url 'admin_view_documents' as admin_view_documents %}
            <a href="{{ admin_view_documents }}" class="nav-link {% if request.path == admin_view_documents %} active {% endif %}">
              <i class="nav-icon fas fa-file-alt"></i>
              <p>View Documents</p>
            </a>
          </li>

        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>