{% extends 'member_template/base_template.html' %}
{% block page_title %}View Documents{% endblock page_title %}

{% block main_content %}
<section class="content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">All Documents</h3>
      </div>
      <div class="card-body">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Title</th>
              <th>Download</th>
            </tr>
          </thead>
          <tbody>
            {% for doc in documents %}
            <tr>
              <td>{{ doc.title }}</td>
              <td><a href="{{ doc.file.url }}" class="btn btn-sm btn-success" download><i class="fas fa-download"></i> Download</a></td>
            </tr>
            {% empty %}
            <tr><td colspan="4">No documents uploaded yet.</td></tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
{% endblock main_content %}
