{% load static %}
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="" class="brand-link">
      <img src="{% static "dist/img/doc3.png" %}" 
          alt="DocSys Logo" 
          class="brand-image elevation-3"
          style="width:40px; height:40px; border-radius:50%; object-fit:cover; opacity:.8;">
      <span class="brand-text font-weight-light">DocSys</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
        <img src="{{ user.members.get_profile_pic }}" 
            alt="User Image"1
            style="width:35px; height:35px; border-radius:35%; object-fit:cover;"
            class="elevation-">
      </div>

        <div class="info">
          <a href="#" class="d-block">{{ user.username }}</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            {% url 'member_home' as member_home %}
            <a href="{{ member_home }}" class="nav-link {% if request.path == member_home %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Home
              </p>
            </a>
          </li>

          <li class="nav-item">
            {% url 'member_view_documents' as member_view_documents %}
            <a href="{{ member_view_documents }}" class="nav-link {% if request.path == member_view_documents %} active {% endif %}">
              <i class="nav-icon fas fa-file-alt"></i>
              <p>View Documents</p>
            </a>
          </li>



        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>