{% extends 'staff_template/base_template.html' %}
{% block page_title %}Upload Document{% endblock page_title %}

{% block main_content %}
<section class="content">
  <div class="container-fluid">
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">Upload New Document</h3>
      </div>
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card-body">
          {{ form.as_p }}
        </div>
        <div class="card-footer">
          <button type="submit" class="btn btn-primary">Upload</button>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock main_content %}
